.mix-page-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mix-page-title{
    color: rgb(219, 205, 205);
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff984454, 0 0 0.5em #ff9844, 0 0 0.1em #ff9844, 0 10px 3px #000;
    font-size: 300%;
    /* margin-top: .5%; */
    font: 100 10vh "Vibur";
    cursor: default;
    transition: .75s;
}

.mix-page-title-off{
    color: inherit;
    text-shadow: inherit;    
    font-size: 300%;
    /* margin-top: .5%; */
    font: 100 10vh "Vibur";
    cursor: default;
    transition: .75s;
}

.go-home-mix-page-button{
    color: rgb(219, 205, 205);
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff984454, 0 0 0.5em #ff9844, 0 0 0.1em #ff9844, 0 10px 3px #000;
    font-size: 300%;
    margin-top: 2.75%;
    margin-left: 2.5%;
    font: 100 6vh "Vibur";
    cursor: pointer;
    transition: 1s ease;
}

.go-home-mix-page-button:hover{
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
    color: #ff9191;
    height: 100%
}

.go-home-mix-page-button-lightsout{
    color: inherit;
    text-shadow: inherit;
}

.mix-page-items-wrapper{
    margin-top: .6%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mix-page-jug-container{
    margin-top: -.5%;
    /* margin-left: -20%; */
    margin-right: 2.5%;
    width: 30%;
    height: 78.5vh;
    border-radius: 10px;
    background-color: rgb(23, 23, 32);
    background-size: cover;
    background-position: center;
    box-shadow: -80px -15px 25px rgba(0, 0, 0, 0.199);
    z-index: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

}

.mix-page-ingredients-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2%;
}

.mix-page-ingredients-holder{
    margin-top: -1.15%;
    width: 85vh;
    height: 78.5vh;
    border-radius: 10px;
    background-color: rgb(23, 23, 32);
    background-size: cover;
    background-position: center;
    box-shadow: -80px -15px 25px rgba(0, 0, 0, 0.199);
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
  }

.frozen{
    overflow-y: hidden;
}
  
.mix-page-ingredients-holder::-webkit-scrollbar {
    display: none;
  }
  
.mix-page-ingredients-cards-container{
    /* margin-left: 1%; */
    margin-top: 3%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.mix-button{
    font-family: 'Shippori Mincho', serif;
    text-align: center;
    border: none;
    outline: none;
    background-color: rgb(17, 17, 17);
    /* width: 25%; */
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 7%;
    transition: .35s ease-in-out;
    border-radius:10px;
    text-align: center;
    width: fit-content;
    font-size:300%;
    color: #fff;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #4476ff, 0 0 0.5em #4476ff, 0 0 0.1em #4476ff, 0 10px 3px #000;
    margin-top: 5%;
}
  
.mix-button:hover{
    opacity: .75;
    color: aqua;
    cursor: pointer;
}


.mix-recipe{
    margin-top: 1.25%;
    background-color: rgb(15, 15, 15);
    border-radius: 10px;
    width: 80%;
    color: #fff;
    font-family: 'Shippori Mincho', serif;
    font-size: larger;
    padding-top: 1%;
    padding-bottom: 2%;
}

.reset-mix{
    margin-top: 5%;
    font-family: 'Shippori Mincho', serif;
    text-align: center;
    border: none;
    outline: none;
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4a44, 0 0 0.5em #ff4a44, 0 0 0.1em #ff4a44, 0 10px 3px #000;
    background-color: rgb(17, 17, 17);
    /* width: 25%; */
    padding-left: 10%;
    padding-right: 10%;
    /* padding-bottom: 1%; */
    transition: .35s ease-in-out;
    /* opacity: .5; */
    border-radius:5px;
    font-size:150%;
    text-align: center;
    width: fit-content;
    margin-bottom: 3.25%;

}
  
.reset-mix:hover{
    opacity: .75;
    color: rgb(252, 7, 101);
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4a44, 0 0 0.5em #ff4a44, 0 0 0.1em #ff4a44, 0 10px 3px #000;
    cursor: pointer;
}
