.mix-page-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mix-page-title {
    color: rgb(219, 205, 205);
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff984454, 0 0 0.5em #ff9844, 0 0 0.1em #ff9844, 0 10px 3px #000;
    font-size: 300%;
    /* margin-top: .5%; */
    font: 100 10vh "Vibur";
    cursor: default;
    transition: .75s;
    user-select: none;
}

.mix-page-title-off {
    color: inherit;
    text-shadow: inherit;
    font-size: 300%;
    font: 100 10vh "Vibur";
    cursor: default;
    transition: .75s;
    user-select: none;
}

.mix-page-title:active {
    color: rgb(250, 204, 204);
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
    transition: 3s ease;
}

.go-home-mix-page-button {
    color: rgb(219, 205, 205);
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff984454, 0 0 0.5em #ff9844, 0 0 0.1em #ff9844, 0 10px 3px #000;
    font-size: 300%;
    margin-top: 2.25%;
    margin-left: 2.5%;
    font: 100 6vh "Vibur";
    cursor: pointer;
    transition: 1s ease;
}

.go-home-mix-page-button:nth-of-type(1) {
    margin-right: 2.5%;
}


.go-home-mix-page-button:hover {
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
    color: #ff9191;
    height: 100%
}

.go-home-mix-page-button-nolight {
    color: inherit;
    text-shadow: inherit;
    font-size: 300%;
    margin-top: 2.25%;
    margin-left: 2.5%;
    font: 100 6vh "Vibur";
    cursor: pointer;
    transition: 1s ease;
}

.go-home-mix-page-button-nolight:nth-of-type(1) {
    margin-right: 2.5%;
}

.go-home-mix-page-button-nolight:hover {
    color: rgb(219, 205, 205);
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff984454, 0 0 0.5em #ff9844, 0 0 0.1em #ff9844, 0 10px 3px #000;
}

.mix-page-items-wrapper {
    margin-top: .6%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mix-page-jug-container {
    margin-top: -.5%;
    /* margin-left: -20%; */
    margin-right: 2.5%;
    width: 30%;
    height: 78.5vh;
    border-radius: 10px;
    background-color: rgb(23, 23, 32);
    background-size: cover;
    background-position: center;
    box-shadow: -80px -15px 25px rgba(0, 0, 0, 0.199);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

}

.mix-recipes-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-bottom: 6%;
}

.mix-recipes-wrapper::-webkit-scrollbar {
    display: none;
}


.mix-page-ingredients-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2%;
}

.mix-page-ingredients-holder {
    margin-top: -1.15%;
    width: 85vh;
    max-width: 85vh;
    height: 78.5vh;
    /* border-radius: 10px; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    background-color: rgb(23, 23, 32);
    background-size: cover;
    background-position: center;
    box-shadow: -80px -15px 25px rgba(0, 0, 0, 0.199);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.frozen {
    overflow-y: hidden;
}

.mix-page-ingredients-holder::-webkit-scrollbar {
    display: none;
}

.mix-page-ingredients-cards-container {
    /* margin-left: 1%; */
    margin-top: 3%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mix-button {
    font-family: 'Shippori Mincho', serif;
    text-align: center;
    border: none;
    outline: none;
    background-color: rgb(17, 17, 17);
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    transition: .35s ease-in-out;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
    font-size: 300%;
    color: #fff;
    margin-bottom: 10%;
    margin-left: -30%;
}

.mix-button:hover {
    opacity: .75;
    color: aqua;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #4476ff6e, 0 0 0.5em #4476ff, 0 0 0.1em #4476ff, 0 10px 3px #000;
    cursor: pointer;
}

.mix-recipe-title {
    /* margin-top: 1.25%; */
    background-color: rgb(39, 39, 39);
    padding-bottom: .75%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 30vw;
    color: #fff;
    font-family: 'Shippori Mincho', serif;
    font-size: 3vh;
}

.mix-recipe-identity{
    margin-top: 1.25%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(15, 15, 15);
    border-radius: 10px;
    width: 80%;
    color: #fff;
    font-family: 'Shippori Mincho', serif;
    font-size: larger;
    padding-top: 1%;
    padding-bottom: 2%;
    transition: .75s ease;

}

.mix-recipe-identity:hover{
    background-color: rgb(93, 93, 97);
    transition: .75s ease;

}

.mix-recipe-image {
    height: 4vh;
    /* margin-right: -25%; */
    /* margin-right: 3%; */
}

.mix-recipe-nameandcount {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mix-recipe-nameandcount b{
    color:transparent;
}


.mix-recipe {
    align-self: center;
    /* margin-left: -7.5%; */
}

.mix-recipe-partsCount{
    /* margin-left: 2.5%; */
    color: rgb(128, 126, 126);
    align-self: center;
}

.button-wrappers {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.reset-switch-wrapper{
    display: flex;
    flex-direction: column;
}

.reset-mix {
    margin-top: 2.5%;
    font-family: 'Shippori Mincho', serif;
    text-align: center;
    border: none;
    outline: none;
    color: rgb(245, 187, 187);
    /* text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4a4469, 0 0 0.5em #ff4a4469, 0 0 0.1em #ff4a4469, 0 10px 3px #000; */
    background-color: rgb(17, 17, 17);
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    transition: .35s ease-in-out;
    border-radius: 5px;
    font-size: 150%;
    text-align: center;
    width: 150%;
    margin-bottom: 3.25%;
    margin-left: 5%;

}

.reset-mix:hover {
    opacity: .75;
    color: rgb(252, 7, 101);
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4a44, 0 0 0.5em #ff4a44, 0 0 0.1em #ff4a44, 0 10px 3px #000;
    cursor: pointer;
}


.switch-mix {
    margin-top: 2.5%;
    font-family: 'Shippori Mincho', serif;
    text-align: center;
    border: none;
    outline: none;
    color: #fff;
    background-color: rgb(17, 17, 17);
    padding-bottom: 5%;
    border-radius: 5px;
    font-size: 150%;
    text-align: center;
    width: 150%;
    margin-left: 5%;
}

.switch-mix:hover {
    opacity: .75;
    cursor: pointer;
}

.relative {
    color: rgb(210, 245, 187);
}

.relative:hover{
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #0d6921, 0 0 0.5em #0d6921, 0 0 0.1em #0d6921, 0 10px 3px #000;
}


.relative:active{
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #4476ff6e, 0 0 0.5em #4476ff, 0 0 0.1em #4476ff, 0 10px 3px #000;
}

.strict {
    color: rgb(245, 241, 187);
    width: 150%;
    padding-left: 25px;
    padding-right: 25px;

}

.strict:hover{
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #69600d, 0 0 0.5em #69600d, 0 0 0.1em #69600d, 0 10px 3px #000;
}

.strict:active{
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #4476ff6e, 0 0 0.5em #4476ff, 0 0 0.1em #4476ff, 0 10px 3px #000;
}


.mix-page-ingredients-tab-holders {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mix-page-ingredients-type-tab {
    font-family: 'Shippori Mincho', serif;
    align-self: center;
    justify-self: center;
    background-color: rgb(39, 39, 39);
    color: rgba(255, 255, 255, 0.329);
    height: 5vh;
    width: 100%;
    transition: .5s ease;
    padding-top: .75%;
}

.mix-page-ingredients-type-tab:nth-of-type(1) {
    border-top-left-radius: 10px;
    border-left: none;
}

.mix-page-ingredients-type-tab:nth-of-type(4) {
    border-top-right-radius: 10px;
}

.mix-page-ingredients-type-tab:hover {
    color: #fff;
    background-color: rgb(24, 24, 24);
    transition: .25s ease;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #4476ff, 0 0 0.5em #4476ff, 0 0 0.1em #4476ff, 0 10px 3px #000;
}

.mix-page-ingredients-type-tab:nth-of-type(1):hover {
    border-top-left-radius: 10px;
}

.mix-page-ingredients-type-tab:nth-of-type(4):hover {
    border-top-right-radius: 10px;
}

.mix-page-ingredients-type-tab:active {
    background-color: rgb(91, 91, 91);
    transition: .5s ease;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff984454, 0 0 0.5em #ff9844, 0 0 0.1em #ff9844, 0 10px 3px #000;
}

.mix-page-ingredients-type-tab:nth-of-type(1):active {
    border-top-left-radius: 10px;
}

.mix-page-ingredients-type-tab:nth-of-type(4):active {
    border-top-right-radius: 10px;
}

.selected {
    background-color: rgb(91, 91, 91) !important;
    color: #fff;
    transition: .5s ease;
}

.mix-recipe-identity-total{
    margin-top: 1.5%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(17, 17, 17);
    border-radius: 10px;
    width: 80%;
    color: #fff;
    font-family: 'Shippori Mincho', serif;
    font-size: larger;
    padding-top: 1%;
    padding-bottom: 2%;
    transition: .75s ease;
    margin-bottom: 1.5%;

}

.mix-recipe-partsCount-total{
    margin-left: 1.5%;
    color: rgb(128, 126, 126);
    align-self: center;
    transition: .75s;
}

.max {
    color: #f37f7f;
    transition: .75s;
}