.modal-profile-image{
    height: 90%;
}

.modal-profile-name{
    font-family: 'Shippori Mincho', serif;
    font-size: 350%;
    color: #fff;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff984470, 0 0 0.5em #ff9844, 0 0 0.1em #ff9844, 0 10px 3px #000;
}

.long{
    font-size: 300%;
}

.modal-profile-details{
    text-align: left;
    margin-left: 5%;
    font-family: 'Shippori Mincho', serif;
    font-size: 150%;
    color: #fff;

}

.modal-profile-details b{
    color:rgb(128, 126, 126)
}

.modal-profile-recipe-wrapper::-webkit-scrollbar {
    display: none;
}

.modal-profile-recipe{
    margin-top: 1.25%;
    background-color: rgb(15, 15, 15);
    border-radius: 10px;
    width: 80%;
    color: rgb(128, 126, 126);
    font-family: 'Shippori Mincho', serif;
    font-size: larger;
    padding-top: 1%;
    padding-bottom: 2%;
}

.modal-profile-drinks-list-title{
    font-family: 'Shippori Mincho', serif;
    font-size: 150%;
    text-align: left;
    color: #fff;
    margin-left: 5%;
    /* margin-bottom: 3%; */
}

.modal-profile-cards-wrapper{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    overflow-x: scroll;
    background-color: rgb(34, 34, 34);
    -ms-overflow-style: none; 
    scrollbar-width: none;
    width: 32.5vw;
    /* height: 0.5vh; */
    height: 15vh;
    max-height: 13vh;
}

.modal-profile-cards-wrapper::-webkit-scrollbar {
    display: none;
}


.modal-mini-drink-image{
    height: 12vh;
}
