.result-modal{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center;
    align-content: center; */
}

.resultModal-ingredient-container{
    background-color: rgb(35, 35, 39);
    height: 15vh;
    width: 25vh;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    transition: color .5s;
    display: grid;
    flex-direction: column;
    transition: .5s ease;
    margin-left: 3.5%;
}

.resultModal-ingredient-container:nth-of-type(1){
    margin-left: 0%;
}


.resultModal-ingredient-container-active{
    background-color: rgb(93, 93, 97);
    height: 15vh;
    width: 25vh;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    transition: color .5s;
    display: grid;
    flex-direction: column;
    transition: .75s ease;
    margin-left: 3.5%;

}

.resultModal-ingredient-container-active:nth-of-type(1){
    margin-left: 0%;
}


.resultModal-ingredient-image{
    align-self: center;
    justify-self: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 10vh;
}

.resultModal-ingredient-text-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(49, 49, 54);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 2;
}

.resultModal-ingredient-name{
    color: #fff;
    font-family: 'Shippori Mincho', serif;
    font-size: 120%;
}

.resultModal-ingredients-title {
    /* margin-top: 1.25%; */
    background-color: rgb(15, 15, 15);
    background-color: rgb(39, 39, 39);
    padding-bottom: .75%;
    border-top-left-radius: 10px;
    width: 35vw;
    color: #fff;
    font-family: 'Shippori Mincho', serif;
    font-size: 3vh;
}

.resultModal-ingredients-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.resultModal-drinks-title {
    /* margin-top: 1.25%; */
    background-color: rgb(15, 15, 15);
    background-color: rgb(39, 39, 39);
    padding-bottom: .75%;
    border-top-right-radius: 10px;
    width: 30vw;
    color: #fff;
    font-family: 'Shippori Mincho', serif;
    font-size: 3vh;
}
