.cardContainer {
    /* margin-top: 50px; */
    width: 35%;
    height: 280px;
  }
  
.card {
    margin-top: 50px;
    position: relative;
    width: 35%;
    /* max-width: 460px; */
    height: 280px;
    /* border-radius: 20px; */
  }
