@import url(//fonts.googleapis.com/css?family=Vibur);
html,body{
  height:100%
}

body {
    background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg)  center no-repeat;
    background-size:cover;
    margin:0
  }

.link-container{
    /* justify-content: space-between; */
    display: flex;  
    flex-direction: column;
}

.home-search{
    text-align: center;
    font-size: 1.2rem;
    border: none;
    outline: none;
    background-color: rgb(46, 45, 45);
    width: 15%;
    padding: .75%;
    transition:  .5s;
    opacity: .5;
    border-radius:5px;
    text-align: center;
    margin-top: -10%;
    color: transparent;
}

.home-search:focus{
    width: 70%;
    cursor: text;
    opacity: .75;
    color: #fff
  }

.subtitle{
    margin-top: 10%;
    font-family: 'PT Sans', sans-serif;
    font-size: 200%;
    color: #ffff;
}

.title{
    font-family: 'PT Sans', sans-serif;
    font-size: 1200%;
    margin-top: -5%;
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow 15s ease-in-out infinite;
    background-size: 400% 100%;
}

#shadowBox {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/opacity/see-through */
    border: 3px solid;
}

@keyframes rainbow {
    0%,100% {background-position: 0 0;}
    50% {background-position: 100% 0;}
}

.logo {
    margin-top: -3%;

    text-align: center;
    height: 1200%;
  }
  
.logo b{
    font: 100 25vh "Vibur";
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
.logo b span{
    animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2){
    animation: blink linear infinite 3s;
}
  @keyframes blink {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
       color: #333;
    }
    80% {
      
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }
  