.modal-drink-image{
    height: 90%;
    user-select: none;
}

.long{
    font-size: 300%;
}

.modal-drink-recipe-title{
    font-family: 'Shippori Mincho', serif;
    font-size: 150%;
    color: #fff;
}

.modal-drink-recipe-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 30.18vh;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}

.modal-drink-recipe-wrapper::-webkit-scrollbar {
    display: none;
  }

.modal-drink-recipe{
    margin-top: 1.25%;
    background-color: rgb(15, 15, 15);
    border-radius: 10px;
    width: 80%;
    color: rgb(128, 126, 126);
    font-family: 'Shippori Mincho', serif;
    font-size: larger;
    padding-top: 1%;
    padding-bottom: 2%;
}

.modal-drink-recipe b{
    color: #fff;
    font-weight: 300%;
    font-size: larger;
}

.mix-modal-input{
    background-color: rgba(0, 0, 0, 0.363);
    text-align: center;
    border-color: transparent;
    font-family: 'Shippori Mincho', serif;
    border-radius: 5px;
    font-size: 5vh;
    width: 100%;
    color: #fff;
}