.modal-drink-image{
    height: 90%;
}

.modal-drink-name{
    font-family: 'Shippori Mincho', serif;
    font-size: 350%;
    color: #fff;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff984470, 0 0 0.5em #ff9844, 0 0 0.1em #ff9844, 0 10px 3px #000;
}

.long{
    font-size: 300%;
}

.modal-drink-recipe-title{
    font-family: 'Shippori Mincho', serif;
    font-size: 150%;
    color: #fff;
}

.modal-drink-recipe-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 30.18vh;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}

.modal-drink-recipe-wrapper::-webkit-scrollbar {
    display: none;
  }

.modal-drink-recipe{
    margin-top: 1.25%;
    background-color: rgb(15, 15, 15);
    border-radius: 10px;
    width: 80%;
    color: rgb(128, 126, 126);
    font-family: 'Shippori Mincho', serif;
    font-size: larger;
    padding-top: 1%;
    padding-bottom: 2%;
}

.modal-drink-recipe b{
    color: #fff;
    font-weight: 300%;
    font-size: larger;
}