.ingredient-card-container{
    background-color: rgb(35, 35, 39);
    height: 15vh;
    width: 25vh;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    transition: color .5s;
    display: grid;
    flex-direction: column;
}

.ingredient-card-image{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    /* margin-bottom: 20%; */
    margin-left: 20%;
    height: 80%;
    width: 80%;
    max-width: 100px;
    max-height: 80px;
}

.gin {
    margin-left: 30%;
    height: 75px;
    width: 55px;
}

.nutmeg{
    height: 65px;
    width: 65px;
}

.milk{
    height: 75px;
    width: 75px;
}

.mint{
    height: 75px;
    width: 75px;
}

.ingredient-card-text-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* align-items: flex-end; */
    background-color: rgb(49, 49, 54);
    /* border-radius: 10px; */
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 2;
}

.ingredient-card-name{
    color: #fff;
    font-family: 'Shippori Mincho', serif;
    /* font-size: ; */
    font-weight: bolder;
}

.ingredient-card-partsCount{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Shippori Mincho', serif;
    color: #fff;
    /* font-size: larger;     */
    font-weight: bold;
    margin-bottom: -10%;
}

.count{

    font-size: larger;
    margin-top: -1.75%;
    transition: .5s;
}

.count-active{
    font-size: larger;
    margin-top: -1.75%;
    transition: .5s;
    color: #f3b37f;
}

.count-max{
    font-size: larger;
    margin-top: -1.75%;
    transition: .5s;
    color: #f37f7f;
}

.subtract{
    margin-left: 10%;
    font-weight:900;
    height: 50%;
    cursor: pointer;
}

.subtract:hover{
    box-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgba(255, 66, 66, 0.137), 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 0px 0px #000;
    border-radius: 100%;
    transition: .15s;
    /* height: 55%; */
}

.add {
    /* margin-left: -5%; */
    margin-right: 10%;
    /* transition: .5s; */
    height: 50%;
    cursor: pointer;
}

.add:hover{
    color: rgb(242, 255, 238);
    box-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgba(152, 255, 68, 0.137), 0 0 0.5em #98ff44, 0 0 0.1em #98ff44, 0 0px 0px #000;  
    border-radius: 100%;
    transition: .15s;
    /* height: 55%; */
}
