.ingredient-card-container{
    background-color: rgb(35, 35, 39);
    height: 15vh;
    width: 25vh;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    transition: color .5s;
    display: grid;
    flex-direction: column;
    transition: .5s ease;
    margin-left: 3.5%;
}

.ingredient-card-container:hover{
}

.ingredient-card-container:nth-of-type(1){
    margin-left: 0%;
}


.ingredient-card-container-active{
    background-color: rgb(93, 93, 97);
    height: 15vh;
    width: 25vh;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    transition: color .5s;
    display: grid;
    flex-direction: column;
    transition: .75s ease;
    margin-left: 3.5%;

}

.ingredient-card-container-active:nth-of-type(1){
    margin-left: 0%;
}


.ingredient-card-image{
    align-self: center;
    justify-self: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 10vh;
    max-width: 10vw;
    max-height: 10vh;
    user-select: none;
}

.gin {
    height: 8.5vh;
    width: 3vw;
    margin-top: .75vh;
    margin-bottom: .75vh;

}

.whiskey{
    height: 9vh;
    width: 7.5vw;
    margin-top: .5vh;
    margin-bottom: .5vh; 
}

.brandy {
    height: 9vh;
    width: 4vw;
    margin-top: .5vh;
    margin-bottom: .5vh;

}

.almondliquer {
    height: 9vh;
    width: 7vw;
    margin-top: .5vh;
    margin-bottom: .5vh;

}

.nutmeg{
    height: 7.25vh;
    /* width: 5vw; */
    margin-top: 1.375vh;
    margin-bottom: 1.375vh;
}

.coconut{
    height: 7.25vh;
    width: 5vw;
    margin-top: 1.375vh;
    margin-bottom: 1.375vh;
}

.Tomato{
    height: 8vh;
    width: 5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.salt{
    height: 8vh;
    width: 6vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.milk{
    height: 10vh;
    width: 3vw;
}

.mint{
    height: 8vh;
    /* width: 5vw; */
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.vodka{
    height: 10vh;
    width: 15vh;
}

.Lime{
    height: 8.5vh;
    width: 12vh;
    margin-top: .75vh;
    margin-bottom: .75vh;
}

.paprika{
    height: 9vh;
    width: 13vh;
    margin-top: .5vh;
    margin-bottom: .5vh;
}

.capelletti{
    height: 9vh;
    width: 3vh;
    margin-top: .5vh;
    margin-bottom: .5vh;
}

.dragonfruit{
    height: 8vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}


.ingredient-card-text-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgb(49, 49, 54);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 2;
}

.ingredient-card-name{
    color: #fff;
    font-family: 'Shippori Mincho', serif;
    font-weight: bolder;
}

.ingredient-card-partsCount{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Shippori Mincho', serif;
    color: #fff;
    /* font-size: larger;     */
    font-weight: bold;
    margin-bottom: -10%;
}

.count{
    font-size: larger;
    margin-top: -1.75%;
    transition: .5s;
    user-select: none;
}

.count-active{
    font-size: larger;
    margin-top: -1.75%;
    transition: .5s;
    color: #f3b37f;
    user-select: none;
}

.count-max{
    font-size: larger;
    margin-top: -1.75%;
    transition: .5s;
    color: #f37f7f;
    user-select: none;
}

.subtract{
    margin-left: 10%;
    font-weight:900;
    height: 50%;
    cursor: pointer;
    user-select: none;
}

.subtract:hover{
    box-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgba(255, 66, 66, 0.137), 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 0px 0px #000;
    border-radius: 100%;
    transition: .15s;
}

.add {
    margin-right: 10%;
    height: 50%;
    cursor: pointer;
    user-select: none;
}

.add:hover{
    color: rgb(242, 255, 238);
    box-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em rgba(152, 255, 68, 0.137), 0 0 0.5em #98ff44, 0 0 0.1em #98ff44, 0 0px 0px #000;  
    border-radius: 100%;
    transition: .15s;
}


.count-input{
    background-color: transparent;
    border: none;
    width: 25%; 
    color: rgba(255, 255, 255, 0.527);
    margin-top: -.6%;
    transition: .5s;
    text-align: center;
    font-size: larger;
    height: 60%;
}

.count-input-active{
    background-color: transparent;
    width: 25%; 
    border: none;
    margin-top: -.6%;
    transition: .5s;
    text-align: center;
    font-size: larger;
    height: 60%;
    color: #f3b37f;
}

.count-input-max{
    background-color: transparent;
    border: none;
    width: 25%; 
    margin-top: -.6%;
    transition: .5s;
    text-align: center;
    font-size: larger;
    height: 60%;
    color: #f37f7f;
}


.count-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.count-input-active::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.count-input-max::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.ingredient-check-icon{
    position: absolute;
    height: 2.5%;
}