.drink-card-container{
    background-color: rgb(35, 35, 39);
    height: 24vh;
    width: 22%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: color .5s;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.drink-card-image{
    align-self: center;
    justify-self: center;
    height: 15vh;
    width: 15vw;
}

.margarita{
    height: 15vh;
    width: 15vw;

}

.bloodymary{

}

.caipirinha{

}

.oldfashioned{

}

.gnt{

}

.godfather{

}

.drink-card-text-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgb(49, 49, 54);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.drink-card-name{
    color: #fff;
    font-family: 'Shippori Mincho', serif;
    font-size: larger;
}

.drink-card-ingredient{
    color: rgb(196, 194, 194);
    font-family: 'Shippori Mincho', serif;
    bottom: 0;
    font-size: smaller;
}