.featured-carousel{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    align-items: center;
    width: 95%;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    /* margin-bottom: -50px;   */
}

.featured-carousel::-webkit-scrollbar {
    display: none;
}
