.header-nav{
    /* top: 0; */
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 10%; */
    margin-top: -12%;
    margin-left: 47%;
}

.header-logOut{
    font-family: 'Shippori Mincho', serif;
    text-align: center;
    font-size: ;
    border: none;
    outline: none;
    background-color: rgb(46, 45, 45);
    width: %;
    padding: .75%;
    padding-bottom: 1%;
    transition: .35s ease-in-out;
    opacity: .5;
    border-radius:5px;
    text-align: center;
    color: white;
}
  
.header-logOut:hover{
    opacity: .75;
    color: #fff;
    cursor: pointer;
}

.header-signIn{
    font-family: 'Shippori Mincho', serif;
    text-align: center;
    font-size: ;
    border: none;
    outline: none;
    background-color: transparent;
    width: %;
    padding: .75%;
    transition: .35s ease-in-out;
    opacity: .5;
    border-radius:5px;
    text-align: center;
    color: transparent;
  }
  
.header-link{
    text-decoration: none;
    color: #fee;
    opacity: .05;
    transition: .5s ease;
    /* color: red; */
    background-color: rgb(78, 77, 77);
    padding: 10%;
    border-radius: 3.5px;
}

.header-link:hover{
    opacity: .5;
    transition: .5s ease;
}