.header-nav{
    /* top: 0; */
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    margin-top: -11%;
    margin-left: 3%;
}

  
.header-link{
    text-decoration: none;
    color: #fee;
    opacity: .05;
    transition: .5s ease;
    /* color: red; */
    background-color: rgb(78, 77, 77);
    padding: 10%;
    border-radius: 3.5px;
}

.header-link:hover{
    opacity: .5;
    transition: .5s ease;
}

.profile-picture{
    filter: invert(100%);
    /* border-radius: 40%; */
    /* border-style: solid; */
    /* border: 15% solid rgb(26, 25, 25); */
    opacity: 0.3;
    /* border-width: 2.5%; */
    height: 8vh;
    transition: .25s;
}

.profile-picture:hover{
    height: 8.5vh;
    cursor: pointer;
    opacity: .55;
}